*{
    font-family: Arial, Helvetica, sans-serif;
    --nav-bg: rgb(8, 41, 62);
    --builder-bg: rgb(222, 231, 239);
    --white: white;
    --gray-bg: rgba(244, 244, 244, 0.653);
}

.input-div h2{
    text-decoration: underline;
    margin-bottom: 16px;
}

.cv-builder{
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 100vh;
}

.nav-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
    padding: 32px 16px;
    background-color: var(--nav-bg);
    height: 100%;
}

.nav-button{
    min-width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: aliceblue;
    transition: ease-in-out 100ms;
}

.nav-button:hover{
    background-color: rgb(196, 208, 218);
}

.input-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 24px 24px 32px 24px;
    border-radius: 12px;
    border: 2px solid rgb(234, 234, 234);
    background-color: var(--white);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.16);
}
.input-label{
    display: flex;
    flex-direction: column;
}
.builder{
    column-span: 2;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(3, minmax(1fr, 700px));
    background-color: var(--builder-bg);
    padding: 32px 32px;
    gap: 48px;
}

input{
    padding: 6px;
    font-size: 16px;
    background-color: var(--gray-bg);
    border: 1px solid rgb(193, 193, 193);
    border-radius: 4px;
    width: 100%;
}

label{
    font-weight: bold;
    font-size: 16px;
}

form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.education-unit:not(:last-child), .experience-unit:not(:last-child){
    border-bottom: 1px solid black;
    padding-bottom: 24px;
}

.education-unit:not(:first-child), .experience-unit:not(:first-child){
    margin-top: 16px;
}

.education-unit, .experience-unit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.unit-buttons-div{
    display: flex;
    margin-top: 16px;
    gap: 32px;
    width: 100%;
    align-items: center;
}

.unit-open{
    flex-direction: column;
    align-items: start;
}

.education-unit h3, .experience-unit h3{
    margin: none;
}

.personal-info{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.education-info{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.experience-info{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.preview-container{
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 32px 40px;
    width: calc(15vw*3);
    height: calc((15vw*3)/0.70695553021);
    overflow: hidden;
}

.add-unit-button{
    margin-top: 12px;
    background-color: var(--nav-bg);
    color: white;
    padding: 12px;
}

.add-unit-button:hover{
    background-color: rgb(3, 20, 32);
    cursor: pointer;
}

.unit-title-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.hide-button, .reveal-button{
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    border: 2px solid rgba(136, 136, 136, 0);
    border-radius: 12px;
    padding: 0px 10px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0);
}

.hide-button:hover, .reveal-button:hover{
    cursor: pointer;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(215, 215, 215);
    border-radius: 12px;
}

.unit-button{
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.32);
    border-radius: 4px;
    cursor: pointer;
}

.save{
    background-color: var(--nav-bg);
    color: white;
}
.cancel{
    background-color: rgb(224, 224, 224);
    
}
.delete{
    background-color: rgb(151, 37, 37);
    color: white;
}

.save:hover{
    background-color: rgb(4, 29, 44);
}
.cancel:hover{
    background-color: rgb(200, 200, 200);
}
.delete:hover{
    background-color: rgb(102, 22, 22);
}

.preview-details h1, .preview-details h3{
    max-width: 100%;
    text-align: center;
}

.preview-details h3{
    font-size: 16px;
    font-weight: lighter;
    
}

.preview-details{
    width: 100%;
}

.preview-seperator{
    width: 100%;
    padding: 4px;
    background-color: var(--nav-bg);
    margin: 12px 0px;
}

.preview-seperator-thin{
    width: 100%;
    padding: 1px;
    background-color: rgb(228, 228, 228);
    margin: 12px 0px;
}

.education-unit-preview{
    width: 100%;
}

.preview-education-title{
    margin-bottom: 8px;
}

.preview-edu-degree{
    text-align: left;
    font-weight: bold;
}

.preview-edu-school{
    font-weight: 500;
    margin-bottom: 8px;
}

.preview-edu-botContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.preview-all-center{
    text-align: center !important;
    align-items: center !important;

    .preview-edu-degree{
        text-align: center !important;
        align-items: center !important;
    }

    .preview-edu-botContainer{
        justify-content: center !important;
        align-items: center !important;
        gap: 25px;
        width: auto;
    }
}

.preview-all-left{
    text-align: start !important;
    align-items: start !important;
    .preview-edu-degree{
        text-align: start !important;
        align-items: start !important;
    }
}

.preview-all-right{
    text-align: end !important;
    align-items: end !important;
    .preview-edu-degree{
        text-align: end !important;
        align-items: end !important;
    }
}